---
import { CollectionEntry } from "astro:content";
import Baselayout from "./Base.layout.astro";
import { dateToFullMonthDate } from "src/utils/date.utils";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishedDate, updatedDate } = Astro.props;
---

<Baselayout title={title} description={description}>
  <article class="flex flex-col items-center justify-center">
    <div class="mb-5">
      <h1 class="text-4xl text-center">{title}</h1>

      <p class="text-sm text-baseTextDim mt-3">Published on {dateToFullMonthDate(publishedDate)}</p>
      {
        updatedDate && (
          <p class="text-xs text-baseTextDim">Last updated on {dateToFullMonthDate(updatedDate)}</p>
        )
      }
    </div>
    <div class="prose mb-5">
      <slot />
    </div>
  </article>
</Baselayout>
